# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Logs
logs/
*.log

# SQL stuff
*.sqlite3
*.sqlite3-journal
*.sql

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore JetBrains RubyMine IDE settings
/.idea
